aiohttp==3.10.8
bert_score==0.3.13
deepspeed==0.15.1
easydict==1.13
h5py==3.12.1
imageio==2.35.1
joblib==1.2.0
librosa==0.10.2.post1
matplotlib==3.3.1
moviepy==1.0.3
natsort==8.4.0
omegaconf==2.3.0
opencv_python==4.10.0.84
peft==0.13.2
pyrender==0.1.45
pytorch_lightning==2.4.0
PyYAML==6.0.2
setuptools==75.1.0
spacy==3.8.2
torch==2.4.1
torchmetrics==1.4.2
torchvision==0.19.1
tqdm==4.66.5
transformers==4.45.1
trimesh==3.9.24
scipy==1.14.1
numpy==1.26.4